# vscode setting files
.vscode/**

# ignore ALL .log files
**/*.log
**/log_*
**/logs_*

# ignore ALL files in ANY directory named temp and backup
**/temp/
**/backup/

# ignore caches
cache/
**/__pycache__